body {
    margin: 0;
}
.max_width{
    width: 1200px;
    margin: 0 auto;
}
.head_top {
    background: green;  
    margin: 0;
    padding: 0;
    height: 48px;
}
ul {
    font-size: 14px; 
    margin: 0px;
    padding: 0px;
    float: right;
}
li {
    display: inline-block;  
}
a {
    color: white;
    text-decoration: none;
    font-family: Arial,Verdana,Sans-serif;
    padding: 0 10px;
    font-size: 14px; 
    line-height: 48px;
    height: 48px;
    display: block;
}
.head_end {
    background: white;
    margin: 0;
    width: 100%;
}
.head_end .logo {
    margin-top: 28px;
    font-size: 12px;
    width: 97px;
    float: left;
    display: block;
}
.head_end .logo img{
    max-width: 100%;
}
.head_end .ul{
    margin-top: 37px;
    margin-left: 30px;
    float: left;
}
.head_end .ul2{
    margin: 35px;
    float: right;
}
.head_end .li2{
    font-size: 16px;
    padding: 0 16px;
    height: 60px;
}
.head_end .li2 .a{
    display: none;
}
.sliders  {
    display: block;
    margin: 0 auto;
}
.sliders img {
   
    display: block;
    width: 1200px;
    height: 500px;  
}
.home_features img{
    display: block;   
}
/*.home_features下面 包含文字和图片*/
.home_features{
    background-color: #f7f7f7;
    position: relative;
    widows: 1500px;
    height: 1000px
}

/*图片部分的设置*/
.home_features  img{
    position: absolute;
    width: 1000px;
    height: 800px;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
}
/*文字部分的设置*/
.home_features .hf_p{
    position: absolute;/*相对定位*/
    color: #3b3b3b;
    font-size: 22px;
    text-align: center;
    top: 30px;
}
.home_features .hf_f{
    position: absolute;/*相对定位*/
    color: #3b3b3b;
    font-size: .14rem;  
    text-align: left;
}

.home_features .hf_f .hf f1{

    top: .48rem;
    margin-left: -4.24rem;
   
}
.home_features .hf_f .hf f2{
    top:.53rem;
    margin-left: 2.88rem;
    width: 3rem;
}
.home_features .hf_f .hf f3{
    top: 1.2rem;
    margin-left: -4rem;
}
.home_features .hf_f .hf f4{
    top: 1.77rem;
    margin-left: 3.1rem;
    width: 2.9rem;  
}
.home_features .hf_f .hf f5{
    top: 2.27rem;
    margin-left: -4.8rem;
}
.home_features .hf_f .hf_f6{
    top: 3.38rem;
    margin-left: 4.35rem;
    width: 2rem;
}